
<div class="main-content">

    <button id="message_button" (click)="allertM()">Send message</button>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Edit Site Parser</h4>
                        <p class="category">Select elements wich will be parsed</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Data</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                    </label>
                                </div>
                  
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Xpath</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <iframe style="height: 1000px; width: 100%" src="../assets/sturt_up/iframe/test1.html" frameborder="0"></iframe>
        </div>
    </div>
   
</div>
